<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @election.position %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= date_format(@election.deadline) %>
</p>

<p>
  <strong>Start:</strong>
  <%= date_format(@election.start_time) %>
</p>

<p>
  <strong>End:</strong>
  <%= date_format(@election.end_time) %>
</p>

<p>
  <strong>Session:</strong>
  <%= @election.session %>
</p>

<% if @election.voting_over? %>
  <%= render partial: 'candidate_vote_count', locals: {candidates: @election.candidates, vote_count: @election.vote_count} %>
<% else %>
  <%= render partial: 'candidates', locals: {candidates: @election.candidates, in_progress: @election.in_progress?, election_id: @election.id} %>
<% end %>

<%= link_to 'Back', elections_path %>
